<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="EnvironmentXML" value="C:\AjithData\VisualStudioProjects\HotFixUtility\HotFixUtility\HotfixEnvironments.xml"/>
		<add key="ApplicationDirectory" value="C:\Users\achandranlalit\Downloads\"/>
	</appSettings>	
</configuration>