<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
	</appSettings>
	<configSections>
		<sectionGroup name="environments">
			<section name="environment" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		<section name="hotfix_command" type="Configuration.hotfix_command"/>
	</configSections>
	
	<environments>
		<environment name="900">
			<add key="ascii_source_dir" value="c:\"></add>
			<add key="asci_destination_dir" value="d:\"></add>
		</environment>
		<environment name="822">
			<add key="ascii_source_dir" value="e:\"></add>
			<add key="asci_destination_dir" value="f:\"></add>			
		</environment>
	</environments>
	
	<hotfix_command>
		<path value="abcd.bat"></path>
	</hotfix_command>
</configuration>